:root {
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
  --CLOUD: #f4f4fd;
  --WHITE: #ffffff;
  --NAVY-BLUE: #2e2f42;
  --OCEAN: #404bbf;
  --IRIS: #4d5ae5;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--WHITE, #fff);
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  letter-spacing: 0.02em;
}

p {
  margin: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.section {
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

.container {
  max-width: 320px;
  padding: 0 16px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1160px;
  }
}

.icon {
  fill: currentColor;
}

.logo {
  color: var(--IRIS);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  padding: 1.5px 0;
}
.logo-header {
  margin-right: 76px;
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .logo-header {
    margin-right: 120px;
  }
}
.logo-header span {
  color: var(--NAVY-BLUE, #4d5ae5);
}
.logo-footer {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .logo-footer {
    text-align: start;
  }
}
.logo-footer span {
  color: var(--CLOUD, #f4f4fd);
}

.menu {
  display: none;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}
.menu--item {
  margin-right: 40px;
}
.menu--item:last-child {
  margin-right: 0;
}
.menu--link {
  color: var(--NAVY-BLUE, #2e2f42);
  position: relative;
  font-weight: 500;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu--link:hover {
  color: var(--OCEAN, #404bbf);
}
.menu--link:focus {
  color: var(--OCEAN, #404bbf);
}
.menu--link.active {
  color: var(--OCEAN, #404bbf);
}
.menu--link.active::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--OCEAN, #404bbf);
  bottom: -1px;
  left: 0;
}

.address {
  display: none;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .address {
    display: block;
  }
}
.address--list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media only screen and (min-width: 768px) {
  .address--list {
    display: flex;
    align-items: center;
  }
}
@media only screen and (min-width: 1158px) {
  .address--list {
    flex-direction: row;
    gap: 40px;
  }
}

.address--item:last-child {
  margin-right: 0;
}
.address--item {
  font-size: 12px;
}
.address--link {
  color: var(--SLATE, #434455);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 1158px) {
  .address--item {
    font-size: 16px;
  }
}
.address--link:hover {
  color: var(--OCEAN, #404bbf);
}
.address--link:focus {
  color: var(--OCEAN, #404bbf);
}

.offer--ttl {
  color: var(--WHITE, #fff);
  text-align: center;
  font-style: normal;
  margin: 0 auto;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;

  max-width: 216px;
}

@media only screen and (min-width: 768px) {
  .offer--ttl {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media only screen and (min-width: 1158px) {
  .offer--ttl {
    margin-bottom: 48px;
  }
}

.offer--btn {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  color: var(--WHITE, #fff);

  /* Button Text */
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--IRIS, #4d5ae5);
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 0.25s var(--transition-function);
}
.btn:hover {
  background-color: var(--OCEAN, #404bbf);
}
.btn:focus {
  background-color: var(--OCEAN, #404bbf);
}
.section-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;

  /* Header 2 */
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;

  margin-bottom: 72px;
}

.section_team {
  background: var(--CLOUD, #f4f4fd);
}
.team-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 24px;
  align-items: center;
  justify-content: center;
  /* flex items-center justify-between */
}
@media only screen and (min-width: 768px) {
  .team-cards {
    row-gap: 64px;
  }
}
.team-card {
  /* width: calc((100% - 24px * 3) / 4); */
  width: 264px;
  background-color: var(--WHITE, #fff);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.team-card--ttl {
  margin-bottom: 8px;
}
.team-card--info {
  text-align: center;
  padding: 32px 0;
}
.team-card--social {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0 16px;
}
.team-card--social-link {
  padding: 12px;
  border-radius: 50%;
  background-color: var(--IRIS, #4d5ae5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-card--social-link svg {
  fill: var(--CLOUD);
}
.team-card--social-link:hover {
  background-color: var(--OCEAN, #404bbf);
}
.team-card--social-link:focus {
  background-color: var(--OCEAN, #404bbf);
}

.benefit-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 24px;
}
.benefit-card {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .benefit-card {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .benefit-card {
    width: calc((100% - 24px * 3) / 4);
  }
}

.benefit-card--ttl {
  margin-bottom: 8px;
  color: var(--NAVY-BLUE, #2e2f42);

  /* Header 3 */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;

  text-align: center;
}
@media only screen and (min-width: 768px) {
  .benefit-card--ttl {
    text-align: start;
  }
}
@media only screen and (min-width: 1158px) {
  .benefit-card--ttl {
    /* Header 3 */
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}
.benefit-card--icon {
  padding: 24px 0;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  height: 112px;
}
@media only screen and (min-width: 1158px) {
  .benefit-card--icon {
    display: flex;
  }
}

.header-card {
  color: var(--NAVY-BLUE, #2e2f42);

  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}
@media only screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 0 92px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container {
    padding: 0;
  }
}
.footer-info {
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .footer-info {
    margin-right: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-info {
    margin-right: 120px;
    margin-bottom: 0;
  }
}
.footer-text {
  color: var(--CLOUD, #f4f4fd);
  max-width: 264px;
}
.footer-ttl {
  color: var(--WHITE);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  margin-bottom: 16px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-ttl {
    text-align: start;
  }
}
.footer-social {
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .footer-social {
    margin-right: 80px;
    margin-bottom: 0;
  }
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.social-list--item {
  width: 40px;
  height: 40px;
}
.social-list--link {
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 50%;
  background-color: var(--IRIS, #4d5ae5);
  fill: var(--CLOUD);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list--link:hover {
  background-color: #31d0aa;
}
.social-list--link:focus {
  background-color: #31d0aa;
}
.social-list--link .icon {
  fill: var(--CLOUD);
}
.project-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .project-cards {
    row-gap: 72px;
  }
}
.project-card {
  background: #fff;
  transition: box-shadow 0.25s var(--transition-function);
}
@media only screen and (min-width: 768px) {
  .project-card--img {
    width: 356px;
    height: 300px;
  }
}
.project-card--top {
  position: relative;
  overflow: hidden;
}
.project-card--overlay {
  position: absolute;
  inset: 0;
  padding: 40px 32px;
  color: var(--CLOUD, #f4f4fd);
  background: var(--IRIS, #4d5ae5);
  transform: translateY(100%);
  transition: transform 0.25s var(--transition-function);
}
.project-card--info {
  padding: 32px 16px 31px;
  border-right: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-left: 1px solid var(--CORNFLOWER, #e7e9fc);
}
.project-card--ttl {
  margin-bottom: 8px;
}
.project-card:hover {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.project-card:hover .project-card--overlay {
  transform: translateY(0%);
}
.header {
  padding: 16px 0;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 0;
  }
}

.btn-burger {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: auto;
  display: flex;
}
@media only screen and (min-width: 768px) {
  .btn-burger {
    display: none;
  }
}
.section_offer {
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-offer.jpg);
  /* no-repeat center / 1140px */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}
@media (min-resolution: 192dpi) {
  .section_offer {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-offer@2x.jpg);
  }
}
@media only screen and (min-width: 768px) {
  .section_offer {
    padding: 112px 0;
  }
}
@media only screen and (min-width: 1158px) {
  .section_offer {
    padding: 188px 0;
  }
}
.modal-overlay {
  background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 80px;
  padding-bottom: 12px;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  max-width: 288px;
  width: 100%;
  min-height: 584px;
  max-height: 100%;
  overflow-y: auto;
  border-radius: 4px;
  background: var(--DAIRY, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px;
}
@media only screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
    padding: 72px 24px 24px 24px;
  }
}
.btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--CORNFLOWER, #e7e9fc);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:focus,
.btn-close:hover {
  border: none;
  background-color: var(--OCEAN);
  color: var(--WHITE);
}
.btn-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal--ttl {
  color: var(--NAVY-BLUE);
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;

  margin-bottom: 16px;
}
.form--item {
  margin-bottom: 8px;
}
.form--item-textarea {
  margin-bottom: 16px;
}
.form--input-wrapper {
  position: relative;
  display: flex;
}
.form--label {
  color: var(--LIGHT-SLATE, #8e8f99);

  /* Small Text */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}
.form--input {
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  width: 100%;
  padding: 0;
  padding-left: 38px;
  height: 40px;
  outline: transparent;
  padding-right: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form--input:focus {
  border-color: var(--IRIS, #4d5ae5);
}
.form--input:focus::placeholder {
  opacity: 0;
}
.form--input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form--input:focus ~ .form--input-icon {
  color: var(--IRIS, #4d5ae5);
}
.form--input-textarea {
  display: flex;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
}

.form--privacy {
  display: block;
  margin-bottom: 24px;
}
.form--checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  color: var(--WHITE);
  flex: none;
}
.form--input-privacy:checked ~ .form--label-privacy > .form--checkbox {
  background-color: var(--OCEAN);
  border: none;
  color: var(--CLOUD);
  fill: var(--CLOUD);
}
.form--btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--WHITE);
  cursor: pointer;
  background-color: var(--IRIS);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}
.form--btn:hover,
.form--btn:active {
  background-color: var(--OCEAN, #404bbf);
}
.link {
  color: var(--IRIS);
}
.footer-form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 24px;
}
@media only screen and (min-width: 768px) {
  .footer-form {
    flex-wrap: nowrap;
  }
}
.footer-form--label {
  width: 100%;
}
.footer-form--input {
  width: 100%;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--WHITE);
}
@media only screen and (min-width: 768px) {
  .footer-form--input {
    width: 264px;
  }
}

.footer-form--input::placeholder {
  color: var(--WHITE);
}

.footer-form--btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.footer-form--icon {
  margin-left: 16px;
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
}

.burger-content {
  padding: 72px 16px 40px;
  position: fixed;
  inset: 0;
  background-color: var(--WHITE);
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  transform: translateX(-100%);
}
.burger-content.is-open {
  transform: translateX(0);
  pointer-events: auto;
}
.burger-content--close {
  background-color: transparent;
}
.burger-menu {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;

  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
  overflow-y: auto;
}
.burger-menu--link.active,
.burger-menu--link:focus,
.burger-menu--link:hover {
  color: var(--OCEAN, #404bbf);
}
.burger-address {
  margin-top: 20px;
  margin-bottom: 48px;
  color: var(--SLATE, #434455);
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.burger-address--link:focus,
.burger-address--link:hover {
  color: var(--IRIS, #4d5ae5);
}
.burger-social-list {
  gap: 40px;
}
